/*
RESET
*/
 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*
DEBUG
*/

.debug .container .header-content {
    background-color: aqua;
    height: 50px;
}

/*
MAIN
*/
.container {
    max-width: 1000px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content>div {
    background-color: #B98E1F;
    border: 1px dashed black;
    width: 200px;
}

.debug .container2 {
    background-color: blue;
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2>div {
    background-color: pink;
    width: 500px;
    height: 350px;
}


.debug .container3 {
    background-color: whitesmoke;
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 .azzurro {
    background-color: aqua;
    width: 750px;
    height: 350px;
}

.container3 .rosa {
    background-color: pink;
    width: 400px;
    height: 350px;
}


.debug .container4 {
    background-color: grey;
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
}

.container4 .rosa2 {
    background-color: pink;
    width: 400px;
    height: 350px;
}

.container4 .azzurro2 {
    background-color: aqua;
    width: 750px;
    height: 350px;
}

.debug .container5{
    background-color: grey;
    width: 1000px;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container5 .verde {
    background-color: green;
    width: 750px;
    height: 600px;
}

.debug .container6 {
    background-color: #23272A;
    width: 1000px;
    height: 500px;
    display: flex;

}

.rosa3 {
    background-color: pink;
    width: 225px;
    height: 450px;
}

.verdeacqua {
    background-color: #20B2AA;
    width: 150px;
    height: 450px;
}

.verdeacqua1 {
    background-color: #20B2AA;
    width: 150px;
    height: 450px;
}

.verdeacqua2 {
    background-color: #20B2AA;
    width: 150px;
    height: 450px;
}

.verdeacqua3 {
    background-color: #20B2AA;
    width: 150px;
    height: 450px;
}

.debug .footertop {
background-color: #23272A;
width: 1000px;
height: 150px;
display: flex;
justify-content: center;
}

.container7 {
    background-color: #7FFFD4;
    width: 500px;
    height: 75px;
}







